stages:
  - test
  - migration

sast:
  stage: test
  script:
    - echo "Running SAST tests"

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml

# Migration, Dev
.migration_template:
  stage: migration
  image: node:latest
  variables:
    PG_DATABASE_URL: $DEV_PG_DATABASE_URL
    PG_DATABASE_SSL: $DEV_PG_DATABASE_SSL
    APP_MODE: development
  rules:
    - if: '$CI_COMMIT_REF_NAME == "development"'
    - if: '$CI_COMMIT_REF_NAME == "staging"'
    - if: '$CI_COMMIT_TAG'

migration:show:dev:
  extends: .migration_template
  before_script:
    - yarn install --frozen-lockfile
    - yarn global add typescript
  script:
    - yarn migration:show
  rules:
    - changes:
        - 'libs/database/src/migrations/*'
        - 'libs/database/src/seeds/*'

migration:run:dev:
  extends: .migration_template
  script:
    - yarn migration:run
  rules:
    - changes:
        - 'libs/database/src/migrations/*'
        - 'libs/database/src/seeds/*'
  when: manual
  dependencies:
    - migration:show:dev
