stages:
  - test
  - migration

sast:
  stage: test
  script:
    - echo "Running SAST tests"

include:
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml

.migration-changes: &migration-changes
  changes:
    - libs/database/src/migrations/*
    - libs/database/src/seeds/*

.service-changes: &service-changes
  changes:
    - libs/**/*
    - yarn.lock
    - .gitlab-ci.yml

# .dev-config: &dev-config
#   environment: development
#   rules:
#     - if: '$CI_COMMIT_TAG'
#       when: never
#     - if: '$CI_COMMIT_BRANCH == "development"'
#     - when: manual
#       changes:
#         - libs/**/*
#         - yarn.lock
#         - .gitlab-ci.yml

# Migration, Dev
migration:show:dev:
  stage: migration
  image: node:latest
  before_script:
    - yarn install --frozen-lockfile
    - yarn global add typescript
  variables:
    PG_DATABASE_URL: $DEV_PG_DATABASE_URL
    PG_DATABASE_SSL: $DEV_PG_DATABASE_SSL
    APP_MODE: development
  script:
    - yarn migration:show
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'

migration:run:dev:
  stage: migration
  image: node:latest
  variables:
    PG_DATABASE_URL: $DEV_PG_DATABASE_URL
    PG_DATABASE_SSL: $DEV_PG_DATABASE_SSL
    APP_MODE: development
  script:
    - yarn migration:run
  rules:
    - if: '$CI_COMMIT_BRANCH == "development"'
    - if: '$CI_COMMIT_BRANCH == "staging"'
    - if: '$CI_COMMIT_TAG'
  when: manual
  dependencies:
    - migration:show:dev
